.warning {
	font-weight: bold;
	font-size: 24px;
	color: yellow;
	padding-top: 25px;
}

.animated, 
.content,
.section,
.button,
.article,
.view {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;
}

body {
	text-align: center;
	margin: 0px;
	padding: 0px;

	font-family: Arial;
	color: #a7a9ac;
}

.current.button, .current.article {
	color: gray;
	font-weight: bold;
}

.container {
	position: relative;
	width: 100%;
	display: inline-block;
}

.header, .content, .footer {
	position: relative;
	width: 100%;
	height: auto;
}


.section-buttons, .previews {
	width: 100%;
	font-size: 0px;
	white-space: nowrap;
	left: 0px;
}

.section-buttons {
	bottom: 0px;
	position: absolute;
}

.button, .article {
	display: inline-block;
	position: relative;
	width: 20%;
	cursor: hand;
}

.button {
	height: 35px;
	font-size: 20px;
	width: 25%;
}

.viewer {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.previews {
	display: none;

	position: absolute;
	height: auto;
	bottom: 0px;

	background-color: white;
	opacity: 0.8;
}

.article {
	height: auto;
	font-size: 18px;
	text-align: left;

	margin: 2.5%;
	margin-top: 5%;
	margin-bottom: 7%;
}

.article:first-child {
	margin-left: 0px;
}

.article:last-child {
	margin-right: 0px;
}

.article .preview {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #d1d2d4;
}

.article .text {
	padding: 5px;
	padding-top: 10px;
}

.section {
	display: none;
	min-height: 400px;
	padding: 2.5%;
	padding-top: 10px;
	padding-bottom: 15px;
	opacity: 0;
}

.section.current {
	display: block;
	opacity: 1;
}

.section.main {
	padding: 0px;
}

.view {
	position: absolute;
	width: 100%;
	height: 100%;
	left:-100%;
	/*opacity: 0;*/

	background-color: #d1d2d4;
}

.view.current ~ .view {
	left:100%;
}

.view.current {
	left: 0px;
	opacity: 1;
}
