/**********************************************************************
* 
**********************************************************************/

body {
	padding: 0;
	margin: 0;
}



/************************************* layers and hidable elements ***/
.hidden {
	display: none;
}
/* keep this empty... */
.shown {
}



/*********************************************************** pages ***/
.page {
	/* XXX make this browser-sized... */
	position: relative;
	text-align: left;
	overflow: hidden;

	text-align: center;

	width: 100%;
	height: auto;

	font-size: 12px;

	background: white;
}

.page .content {
	display: inline-block;
	text-align: left;
	position: relative;
	overflow: visible;
	white-space: normal;

	/* these set the "safe" marks for page content */
	width: 800px;
	height: 600px;

	border: dashed 1px red;
}
.content:after {
	display: block;
	position: absolute;
	top: 10px;
	right: -90px;
	width: 80px;
	height: 30px;
	padding-left: 15px;

	font-size: 20px;

	background: gray;
	color: white;
	border-left: solid 5px black; 

	opacity: 0.3;
}

.page .content:after {
	content: "Page";
}
.cover .content:after {
	content: "Cover";
}

.page .content:before {
	position: absolute;
	content: "";
	z-index: 9999;
	right: 0px;
	top: 0px;
	width: 50px;
	height: 50px;

	border-bottom: dashed red 1px;
	border-left: dashed red 1px;
}



/************************************************** general layout ***/

.viewer {
	position: relative;
	background: silver;

	padding-top: 50px;
	padding-bottom: 50px;
}

.magazine {
	position: relative;
}

/* magazine article, this can contain a cover and a number of pages */
.article {
	position: relative;
	overflow: visible;
	font-size: 0px;
	min-width: 200px;

	border: dashed red 1px;
}

.article:after {
	display: block;
	position: absolute;
	content: 'Article';
	top: 0px;
	left: 0px;
	width: 100px;
	height: 30px;

	padding-right: 5px;
	text-align: right;
	font-size: 20px;

	background: gray;
	color: white;
	border-right: solid 5px black; 

	opacity: 0.3;
}

.article > .cover {
}



/******************************************************** toolbars ***/

.left-toolbar {
	position: fixed;
	top: 30px;
	left: 30px;
	width: 40px;
	height: auto;
	background: black;
	color: white;

	padding: 10px;

	z-index: 9999;

	opacity: 0.7;
}


/******************************************************* templates ***/
/* XXX split these into seporate files... */
.caption {
	display: block;
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: 0px;
	left: 0px;

	padding: 15px;
	color: white;
	background: black;
	opacity: 0.5;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;	
	transition: all 0.2s ease;
}
.caption.hidden {
	opacity: 0;
	height: 0px;
}
.caption.shown {
	opacity: 0.8;
}



/*********************************************************************/
/* keep this at the end... */
.unanimated {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: all 0 ease;
	-ms-transition: none;	
	transition: none;
}


/*********************************************************************/
