/**********************************************************************
* magazine customization 
*
**********************************************************************/

/*************************************** main structural elements ****/
.viewer {
	background: gray;
}

.magazine .cover {
	background: white;
}

.article .cover {
	background: white;
}

.page {
	background: silver;

	font-family: Arial;
}


/*********************************************************************/
body {
	font-family: arial;
}

.page a, 
.page a:visited, 
.page a:active {
	color: blue;
}
.page a:hover {
	color: red;
}



/*********************************************************************/
