/**********************************************************************
* magazine customization 
*
**********************************************************************/

/*************************************** main structural elements ****/

.viewer {
	background: gray;
}

.magazine {
	background: transparent;
}

.magazine .cover {
}

.article {
	background: transparent;
}

.article .cover {
}

.page {
	background: silver;

	font-family: Arial;
}

.cover {
	background: white;
}


.top-toolbar, .bottom-toolbar {
	font-size: 14px;
	color: silver;
}

.top-toolbar .title,
.bottom-toolbar .title {
	font-size: 40px;
}

/* toolbar links */
.top-toolbar a, .bottom-toolbar a {
	color: silver;
	text-decoration: none;
}

.button {
	font-size: 25px;
	font-weight: bold;
	cursor: hand;
}

.bottom-toolbar .page-number {
	color: gray;
}

.navigator {
}

.navigator .bar {
	background: silver;
}

.navigator .bar .indicator {
	background: yellow;
}

.navigator .bar .article {
	background: white;
}

.navigator .bar .bookmark {
	background: red;
}

.page-number-text {
	color: gray;
}




/**************************************************** light theme ****/

.light {
	color: gray;
	background: white;
}

.light.viewer {
}

.magazine {
}

.light .magazine .cover {
}

.light .article .cover {
}

.light .page {
}



/**************************************************** dark theme ****/

.dark {
	color: white;
	background: black;
}

.dark.viewer {
}

.dark .magazine .cover {
}

.dark .article .cover {
}

.dark .page {
}


/*********************************************************************/

body {
	font-family: arial;
}

.page a, 
.page a:visited, 
.page a:active {
	color: blue;
}
.page a:hover {
	color: red;
}



/*********************************************************************/
