/**********************************************************************
* magazine customization 
*
**********************************************************************/

/*************************************** main structural elements ****/

.magazine {
}

.magazine .cover {
}

.article {
}

.article .cover {
}

.page {
}
.page .content {
}

.cover {
}



/**************************************************** UI elements ****/
/* NOTE: these may override themes... */

/* toolbar links */
.top-toolbar a, .bottom-toolbar a {
	color: silver;
	text-decoration: none;
}

.button {
	color: silver;
	font-size: 25px;
	font-weight: bold;
	cursor: hand;
}

.bottom-toolbar .page-number {
	color: gray;
}

.navigator {
}

.navigator .bar {
	background: silver;
}

.navigator .bar .indicator {
	background: yellow;
}

.navigator .bar .article {
	background: white;
}

.navigator .bar .bookmark {
	background: red;
}

.page-number-text {
	color: gray;
}




/*********************************************************** sizes ***/

.magazine {
	/*
	height: auto;
	margin-top: -300px;
	*/
}

.page .content {
	/*
	width: 800px;
	height: 600px;
	*/
}


/*********************************************************************/
